@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    24th floor, sector 30A,<br />
    Cyber One, Vashi<br />
    Navi Mumbai<br />
    <abbr title="Phone">Mobile Number:</abbr>
    8873263090
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vikram.kumar@technovaindia.com">vikram.kumar@technovaindia.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:vikram.kumar20@wipro.com">vikram.kumar20@wipro.com</a>
</address>