
@{
    ViewBag.Title = "Technova Employee List";
}

<h4>Technova Employee List </h4>

<table id="userTable" class="w3-table w3-small w3-hoverable w3-striped w3-bordered w3-border" style="width:100%">
    <thead>
        <tr class="w3-blue ">

            <th class="w3-text-white w3-center " style="vertical-align:middle">Name</th>
            <th class="w3-text-white w3-center " style="vertical-align:middle">Location</th>
              <th class="w3-text-white w3-center " style="vertical-align:middle">Username</th>
              <th class="w3-text-white w3-center " style="vertical-align:middle; width:100%">EmployeeCode</th>
            <th class="w3-text-white w3-center " style="vertical-align:middle; width:100%">Machine-Hostname</th>
            <th class="w3-text-white w3-center " style="vertical-align:middle">S/N</th>
            <th class="w3-text-white w3-center " style="vertical-align:middle">Mobile</th>
            <th class="w3-text-white w3-center " style="vertical-align:middle">Department</th>
            <th class="w3-text-white w3-center " style="vertical-align:middle">Designation</th>
            <th class="w3-text-white w3-center " style="vertical-align:middle">View</th>
        </tr>
    </thead>

</table>
<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

@section scripts{

    <script src="~/Scripts/datatable/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <script>

        var Popup, dataTable; 

       
        

       dataTable= $(document).ready(function () {
            $('#userTable').DataTable({

                "ajax": {

                    "url": "/TechnovaP1/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "user_name" },
                    { "data": "loc" , "orderable": false },
                   
                     { "data": "user_id" , "orderable": false },
                      { "data": "emp_id" , "orderable": false },
                    { "data": "asset_name" , "orderable": false },
                    { "data": "asset_sn" , "orderable": false },
                    { "data": "mobile" , "orderable": false },
                    { "data": "dept" , "orderable": false },
                    { "data": "desig" , "orderable": false },
                    {"data": "u_id", "render": function (data) {
                           
                        return " <a class='btn btn-warning btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","TechnovaP1")/"+data+"')> <i class='fa fa-pencil'></i> View </a >";

                        },
                        "orderable": false

                    }

                ],
                "language": {

                    "emptyTable": "No data found, Please click on <b>Add New</b> Button"
                }


            });
        });

        function PopupForm(url) {

            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response){
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'User Details',
                    height: 700 ,
                    width: '100%',
                  
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
        }

        function closeform(form) {
            popup.dialog('destroy').remove();
        }


    </script>

}

